extends layout.pug

block links
    -var selected = '/surveillance-monitoring'
    
block contents
    -var link = "http://fakeimg.pl/80x80/"
    #row-monitoring.row
        .col-md-9.float-left
            .row
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
                .col-md-3.barrier-video
                    .embed-responsive.embed-responsive-16by9
                        video.embed-responsive-item(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4' )
        .col-md-3
            //button.btn.btn-secondary(disabled) Biển số
            #plate-data-col(style='max-height: 100% !important; overflow-y: scroll')
                table#table-list-plate.table.table-striped.table-hover
                    thead
                        tr
                            th Biển số
                    tbody#bodyPlateTable
                        -var n = 1
                        while n <= 20
                            tr
                                td
                                    .row
                                        .col-md-3
                                            img.img-responsive(src=link, alt="")
                                        .col-md-9
                                            h6.data Mã camera: #{n}
                                            h6.data Biển số:
                                            h6.data Thời gian:
                                            h6.data Vị trí: Hueic
                            - n++