block modal
    #squarespaceModal.modal.fade(tabindex='-1' data-keyboard="false" data-backdrop="static" role='dialog' aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h3#lineModalLabel.modal-title Đổi mật khẩu
                .modal-body
                    .form-group
                        label(for='current-pass') Mật khẩu hiển tại
                        input#current-pass.form-control(type='password', placeholder='Nhập mật khẩu hiện tại')
                    .form-group
                        label(for='new-pass') Mật khẩu mới
                        input#new-pass.form-control(type='password', placeholder='Nhập mật khẩu mới')
                    .form-group
                        label(for='retype') Nhập lại mật khẩu mới
                        input#retype.form-control(type='password' placeholder='Nhập lại mật khẩu mới')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal', role='button') Hủy
                    button#saveImage.btn.btn-primary(type='button', data-action='save', role='button') Thay đổi mật khẩu