block stylesheets
    link(href='/images/favicon.ico', rel='icon')
    link(rel='stylesheet' href='/stylesheets/vendors/bootstrap/bootstrap.css')
    link(rel='stylesheet' href='//use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='/stylesheets/vendors/DataTables/dataTables.boostrap4.min.css')
    link(rel='stylesheet' href='/stylesheets/vendors/DataTables/datatables.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')