script(src='/javascripts/vendors/jquery/jquery-3.3.1.min.js')
script(src='/javascripts/vendors/jquery/popper.min.js')
script(src='/javascripts/vendors/validation/jquery.validate.min.js')
script(src='/javascripts/vendors/bootstrap/bootstrap.min.js')
script(src='/javascripts/vendors/socketio-client/socket.io.slim.js')
script(src='/javascripts/vendors/moment/moment.min.js')
script(src='/javascripts/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js')
script(src='/javascripts/vendors/DataTables/jquery.dataTables.min.js')
script(src='/javascripts/vendors/DataTables/dataTables.bootstrap4.min.js')
script(src='/javascripts/vendors/DataTables/datatables.min.js')
script(src='/javascripts/utils.js')