doctype html
html(lang="en" style='heigh: 100%')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
        include partials/stylesheets.pug
    body(style='min-heigh: 100% !important; background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0,0.85)), url("images/background.jpg"); background-size: cover;')
        .container.h-100.mx-auto
            br
            br
            .row.h-100.justify-content-center.align-items-center
                .col-md-5
                    .card
                        .card-header
                            h5.text-center.justify-content-center.strong.font-weight-bold(style='font-size: 1.14em') HUEIC LICENSE PLATES RECOGNITION SYSTEM
                        .card-body
                            .container.mb-3
                                .row
                                    .col-md-12.text-center
                                        a.mx-auto.d-block(href="#")
                                            img.img-responsive(src='images/logo.png', width='150' heigh='150' alt='hueic_logo')
                            if error !== undefined || error !== []
                                each msg in error
                                    .alert.alert-danger(role='alert')= msg
                            form#formLogin(accept-charset='UTF-8' action='/login' method='post' role='form')
                                fieldset
                                    .form-group
                                        input#usernameInput.form-control(placeholder='Tên đăng nhập' name='username' required type='text')
                                    .form-group
                                        input#passwordInput.form-control(placeholder='Mật khẩu' name='password' required type='password' value='')
                                    input.btn.btn-lg.btn-primary.btn-block(type='submit' value='Đăng nhập')
                        .card-footer
                            small.float-left Copyright © 2018 Hue Industrial College
        include partials/scripts.pug